---
layout: default
---
<article class="lesson">

  <script language="javascript">
    recordLessonStart("{{ page.title }}");
  </script>

  <header class="lesson-header">
    <h1 class="lesson-title" itemprop="name headline">{{ page.title }}</h1>
    <hr>
  </header>

  <div class="lesson-content" itemprop="articleBody">
    <iframe width="960" height="540" src={{ page.video_url }} frameborder="1" allow="encrypted-media; picture-in-picture" allowfullscreen></iframe>
    {{ content }}
  </div>

  <div id="next-lesson-a">
    <h2><a href="{{ page.next_link_linear }}">Next Lesson</a></h2>
  </div>

  <div id="next-lesson-b">
    <h2><a href="/">Continue</a></h2>
  </div>

  <script type="text/javascript">hideNextLesson()</script>

</article>
