---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a id="survey-link" href="https://docs.google.com/forms/d/e/1FAIpQLSeCipxb2tW-OEKtzKP531gJP67zDoDk0E4ntccYvEFFHTZbSQ/viewform?usp=pp_url&entry.106176814=">Course Survey</a>
  <script type="text/javascript">document.getElementById("survey-link").href+=getUUID();</script>

</article>
